
.body_lk{
  background:url(Vector\ 6.png) ;
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: repeat-x; 
    
    }
    
    .header_lk {
        
        width: 100%;
        margin: 20px auto 0px;
        color: rgb(50, 50, 50);
        background:#FFEAE8;
        /*background-size: cover; */
        
        text-align: center;
        border: 1px solid #6b6868;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
       /*отвечает за коробку*/
      }
      
    .block_under_header_lk{
        position: absolute;
        left:14%;
        top:10%;
        padding:10px;
        color: #52630E;
      }
      
      .form_enter, .content_lk {
        width: 100%;
        margin: 0px auto;
        padding: 10px;
        border: 1px solid #6b6868;
        /* background: transparent; */
        border-radius: 0px 0px 10px 10px;
        backdrop-filter: blur(2px);
       
        
      }
      /* .text {
        width: 30%;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #929ca9;
        background: #70848f3a;
        border-radius: 10px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        
      } */
      .input-group {
        margin: 10px 0px 10px 0px;
      }
      .input-group label {
        display: block;
        text-align: left;
        margin: 3px;
      }
      .input-group input {
        height: 30px;
        width: 93%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
      }
      .btn_enter {
        padding: 10px;
        font-size: 15px;
        color: #f7f8f8;
        background: #9bb632;
        border: none;
        border-radius: 5px;
        margin: 0px 0px 0px 0px;
      }
      .user_photo{
        position: relative;
        top:5px;
        left:2px;
        width:50px;
        height: auto;
      }
      .Login-popup{
        display: inline-block;
      /* display: flex; */
      
        color:rgb(50, 50, 50);
        background: solid transparent;
        border: 3px solid transparent;
        padding: 9px 7px; 
        font-size:inherit;
        font-weight: 20px;
        border-bottom:  1px solid transparent ;
        /* font-size: 14px;
        font-weight: 500; */
        
        border-radius: 30px;
        text-transform: inherit ;
        transition: all .55s ease;
    
    }
    .Login-popup:hover{
        /* transform:scale(1.1); */
        background: #6b6868;
        border:2px solid transparent;
        color:#f7f8f8;
      
    }
    /* .try{
        background-color: #f7f8f8;
    } */
    
    .icon{
        
        width:16px;
        height: auto;
    }