.block_under_header_lk{
    position: absolute;
    top:18%;
    left:30%;
   }
   .body_add{
    background:url(Vector\ 6.png) ;
    background-size: 100%;
    background-attachment: fixed; 
    background-repeat: repeat-x; 
    }
    
    .form_add {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid #6b6868;
        /* background: transparent; */
        border-radius: 10px 10px 10px 10px;
        backdrop-filter: blur(2px);
       
        
      }
      .lk_background2{
        z-index: 100;
        position: absolute;
    top:18%;
    left:30%;
      }